<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1e52e9c9-fea5-4005-9423-6b88afa6b795" name="Regression Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1e52e9c9-fea5-4005-9423-6b88afa6b795fileName">Regression-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
